/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

html {
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	background: #eee;
}

.copyright a {
    color: #ffffff;
    text-decoration: none;
}

/* .navPusher div {
    left: 0;
    min-height: 100%;
    padding-top: 100px;
    position: relative;
	z-index: 99;
	background: #434351;
} */

.fixedHeaderContainer {
    background: #1a1b32;
    color: #fff;
    min-height: 70px;
    padding: 18px 15px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
/* 
.fixedHeaderContainer header .headerTitleWithLogo {
    display: block;
    font-size: 1.25em;
    line-height: 18px;
    margin: 0;
    position: relative;
	z-index: 9999;
	color: #1a1a1a;
} 
*/

/* a {
    color: #1a1a1a;
	background-color: rgba(187,239,253,0.3);
    text-decoration: none;
} */

/* a:not(.h2) {
    background-color: rgba(187,239,253,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #1a1a1a;
} */

blockquote {
    background-color: rgba(255, 229, 100, 0.3);
    border-left: 8px solid #ffe564;
    padding: 15px 30px 15px 15px;
}
/* 
code[class*='language-'], pre[class*='language-'] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.hljs {
    padding: 1.25rem 1.5rem;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
}

pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: 85%;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

code {
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    color: inherit;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 85%;
    margin: 0;
    padding: 3.2px 6.4px;
} */